{% extends "./templates/layout.njk" %}

{% block meta %}
  <title>Title</title>
  <meta name="description" content="Description">
{% endblock %}


{% block content %}
  
  <div id="todo-table">
    <form>
      <input type="text" name="item" placxeholder="Add new item" required />
      <button type="submit">Add items</button>
    </form>
    <ul>
      {% for todo in todos %}
        <li>{{ todo.item }}</li>
      {% else %}
        <li>This would display if the 'item' collection were empty</li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}

